{# templates/cart/cart.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    <div class="cart--container">
        <h3 class="mt-5 ms-3">Votre panier ({{ products|length }}):</h3>

        <table class="table w-75 m-auto">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <th scope="row" class="fw-normal">{{ product[0] }}</th>
                        <th class="fw-normal">{{ product[1] }}</th>
                        <th class="fw-normal">{{ product[2] }}</th>
                        <th class="fw-normal">{{ product[3] }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="d-flex flex-row justify-content-between w-75 m-auto mt-5">
            <p><span class="fw-semibold">Total:</span> {{ priceTotal }}</p>
            <a href="{{ path('cart_clear') }}"><button class="btn btn-dark" id="clearCart">Vider le panier</button></a>
        </div>
    </div>
{% endblock %}