{# templates/product/list #}
{% extends 'base.html.twig' %}

{% block title 'STS / Détail de produit' %}

{% block content %}
    <div class="product-show--container ms-5 mt-5">
        <a href="{{ path('product_list') }}"><button class="btn btn-secondary"> < Retour à la liste des produits</button></a>
        <div class="d-flex flex-row w-10 align-items-center justify-content-between">
            <div>
                <h3 class="mt-5 ms-3">{{ product.name }}</h3>
                <p class="ms-5">{{ product.description }}</p>
            </div>

            <div class="h-auto mt-5 mb-0 pb-0 me-5 justify-content-end">
                <p class="">{{ product.price }}€</p>
                <form class="d-flex flex-column-reverse" action="{{ path('cart_add') }}" method="post">
                    <input type="number" name="nb_product" min="1" max="100" value="1" class="form-floating mb-3 mt-2">
                    <input type="hidden" value="{{ product.id }}" name="id_product">
                    <input type="submit" value="Ajouter au panier" class="btn btn-primary">
                </form>
            </div>
        </div>


    </div>
{% endblock %}