{# templates/base.html.twig #}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Link to CSS-->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    
    <title>{% block title %}STS / Homepage{% endblock %}</title>
</head>
<body>
    <header class="sts-header bg-light">
        <div class="d-flex align-items-center ms-3">
            <img src="{{ asset('img/spiriit-logo.svg') }}" class="h-auto" alt="Logo spiriit"/>
            <h3 class="ms-2">Test-Symfony</h3>
        </div>
        <nav class="navbar m-md-3">
            <ul class="nav">
                <li class="nav-item">
                    <a href="{{ path('homepage') }}" class="nav-link">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('product_list') }}" class="nav-link">Produit</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('cart_index') }}"><button class="btn btn-primary">Panier ({{ numberProductOnCart }})</button></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block content %}
            <div>
                <div class="mt-5 d-flex flex-column align-items-center h-auto">
                    <img class="h-auto" src="{{ asset('img/spiriit-logo.svg') }}" alt="Logo spiriit">
                    <h3 class="ms-3 h-auto fw-semibold">Test-Symfony</h3>
                </div>

                <p class="fs-4 text-center mt-5 w-25 m-auto">Un test fait par Romain MILLAN pour obtenir un stage dans l'entreprise <span class="fw-bolder">spiri<span class="text-primary">i</span>t</span></p>
            </div>
            
        {% endblock %}
    </main>
    <footer class="footer">
        <p class="m-3">Romain MILLAN © 2022 - Tous droits réservés - <a href="#">Mentions légales</a></p>
    </footer>
</body>
</html>